---
    console.log("Hola Astro, vamos a construir la casa de Alofoke");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alofoke</title>
  </head>
  <body>
    <h1>Bienvenido a Alofoke</h1>
  </body>
</html>