<div class="welcome">
    <h1>Alofoke</h1>
    <p>
        Esta es la pagina oficial de  <code>Alofoke #TeamCabraMEE</code>.
    </p>
</div>

<style>
    .welcome {
        text-align: center;
        margin-top: 4rem;
    }

    .welcome h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #cb0101;
    }

    .welcome p {
        font-size: 1.5rem;
        color: #f0f0f0;
    }